{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            Editar pedido
        </h1>
        <ol class="breadcrumb">
            <div class="margin pull-right">
                <div class="btn-group">
                    <a href="{{ path('pedido_index') }}" class="btn btn-warning">Back to the list</a>

                </div>
            </div>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <input type="submit" value="Edit" />
                        {{ form_end(edit_form) }}
                        <ul>
                            <li>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete">
                                {{ form_end(delete_form) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
