<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bienvenido a PizzaOnline!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="{{asset('asset/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{asset('asset/bower_components/Ionicons/css/ionicons.min.css') }}">
    <link href="{{asset('asset/bower_components/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('asset/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{asset('asset/dist/css/skins/_all-skins.min.css') }}">
    <link rel="stylesheet" href="{{asset('asset/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{asset('asset/bower_components/morris.js/morris.css') }}">
    <link rel="stylesheet" href="{{asset('asset/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


</head>


<body class="hold-transition skin-blue layout-top-nav">

{% block header %} {% include 'default/header.html.twig' %} {% endblock %}

<div class="wrapper">
    <div class="content-wrapper">


            {% block body %} {% include 'default/index.html.twig' %} {% endblock %}

    </div>

    {% block footer %} {% include 'default/footer.html.twig' %} {% endblock %}

</div>

{% block javascripts %}
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script>
        $(function () {
            $('#example1').DataTable()
        })
    </script>
    <script src="{{asset('asset/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{asset('asset/bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
    <script src="{{asset('asset/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('asset/bower_components/raphael/raphael.min.js')}}"></script>
    <script src="{{asset('asset/bower_components/morris.js/morris.min.js')}}"></script>
    <script src="{{asset('asset/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')}}"></script>
    <script src="{{asset('asset/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
    <script src="{{asset('asset/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
    <script src="{{asset('asset/bower_components/jquery-knob/dist/jquery.knob.min.js')}}"></script>
    <script src="{{asset('asset/bower_components/moment/min/moment.min.js')}}"></script>
    <script src="{{asset('asset/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>
    <script src="{{asset('asset/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('asset/bower_components/fastclick/lib/fastclick.js')}}"></script>
    <script src="{{asset('asset/dist/js/adminlte.min.js')}}"></script>
    <script src="{{ asset('asset/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('asset/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{asset('asset/dist/js/pages/dashboard.js')}}"></script>
    <script src="{{asset('asset/dist/js/demo.js')}}"></script>
{% endblock %}
</body>
</html>